<div class="container mb-4" *ngFor="let art of artikla">
  <div class="card bg-light-gray ml-2">
    <div class="row ml-2"> <h5> {{ art.categorie }} (Par: {{ art.auteur }} ) </h5> </div>
    <div class="row ml-2"> <h6>{{ art.contenu }} </h6> </div>


    <div class="row mt-3 mb-2 ml-4 ">
    <!-- <div class="pull-right "> -->
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-danger " href="#"><span class="fa fa-heart"></span> {{ art.jaime }} </a>
        <a class="btn btn-sm btn-outline-secondary" href="#"><span class="fa fa-comment"></span> Commenter </a>
        <a class="btn btn-sm btn-outline-info" href="#"><span class="fa fa-star-o"></span> Ajouter au favoris </a>
      </div>
    </div>

  </div>
</div>
<br>