<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark " id="mainNav">
  <div class="container" id="aa">
    <p class="h1 text-warning ">BLOG</p>
    <div class="col w-100">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav ml-450 text-uppercase w-50">
          <input type="search" class="form-control ds-input w-100 " #searchTerm (input)="searchArticle(searchTerm.value)" id="search-input" placeholder="Trouver Articles...">
        </ul>
      </div>
    </div>
  </div>

<button class="btn btn-lg btn-outline-warning" (click)="open(content)"> Ajouts Article </button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter Article</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
          <input type="text" class="form-control mt-2 mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Auteur" >
          <input type="text" class="form-control mt-2 mb-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Categorie" >
          <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> </textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ajouter</button>
  </div>
</ng-template>
<!-- <pre>{{ closeResult }}</pre> -->

</nav>
<hr>

